.box {
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
}

.panel {
    width: 200px;
    height: 200px;
    background: white;
    box-shadow: 0px 2px 10px 0px rgba(195, 216, 236, 0.5);
    border-radius: 8px;
    position: absolute;
}

.drag {
    width: 10px;
    height: 10px;
    background: pink;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.moveDiv {
    width: 180px;
    height: 180px;
    /* background: powderblue; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -90px 0 0 -90px;
    z-index: 2;
}